html
head
    title= Document
    link(rel="stylesheet", type="text/css", href="style.css")
body
    html
    head
        title RSVP Form
        link(rel="stylesheet" type="text/css" media="screen" href="style.css")
    body
    h1 RSVP
        form(method="POST", action="/rsvp", id="postForm")
            fieldset
                legend Your contact info
                    
                label(for="fullName") Name
                input(type="text", name="name", id="fullName")

                br

                label(for="email") Email 
                input(type="email", name="email", id="email")

            fieldset
                legend Will you be attending?
                
                input(type="radio", name="attending", id="yes", value="yes", checked)
                label(for="yes") I'll be there 

                br

                input(type="radio", name="attending", id="no", value="no")
                label(for="no") I can't make it 

            fieldset
                legend Number of Guests
                
                select(name="guests", id="guests")
                    option(value=0) 0
                    option(value=1) 1
                    option(value=2) 2
                    option(value=3) 3
                    option(value=4) 4
                    option(value=5) 5
                    option(value=6) 6
                    option(value=7) 7
                    option(value=8) 8

            div
                button(type="submit", class="button") Submit