doctype html
html
    head
        title RSVP Received
        link(rel="stylesheet" type="text/css" media="screen" href="style.css")
    body
        h1 Thank you for your response!
        a(href="/guestlist") Guest List
